{{ 'component-skip-section.css' | asset_url | stylesheet_tag }}

<div
  class="next-section-wrap minimal-arrow"
  data-align="left"
  data-custom-color="true"
>
  <a
    href="#shopify-section-template--19621109629234__4a1b6705-720f-4737-a925-e1bdfdd43df9"
    class="next-section skip-hash"
  >
    {% render 'next-arrow-bottom' %}
  </a>
</div>
