{{ 'component-skip-section.css' | asset_url | stylesheet_tag }}

<div
  class="next-section-wrap minimal-arrow"
  data-align="left"
  data-custom-color="true"
>
  <a
    href="#"
    class="next-section skip-hash"
  >
    {% render 'next-arrow-bottom' %}
  </a>
</div>
<script src="{{ 'skip-section.js' | asset_url }}" defer="defer"></script>
