.tooltip-heading {
  position: relative;
  display: inline-block;
}
.tooltip-heading p:empty {
  display: none;
}
.tooltip-heading p {
  text-decoration: underline;
  margin: 0;
  display: inline-block;
  cursor: pointer;
}
.tooltip-heading.hover p:first-child {
  color: #45a371;
}
.tooltip {
  display: none;
  position: absolute;
  background-color: #fff;
  color: inherit;
  padding: 2.5rem;
  z-index: 2;
  max-width: 30rem;
  left: 0;
}
.tooltip-heading .tooltip p {
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-decoration: none;
  color: #195059 !important;
  font-weight: normal;
  font-family: var(--font-body-family);
  cursor: auto;
}
.tooltip-heading .tooltip strong p {
  margin: 0 0 1.5rem;
  font-weight: 600;
  cursor: auto;
}
.tooltip-close {
    position: absolute;
    display: none;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
@media (max-width: 990px) {
    .tooltip-heading {
        display: block;
      }
  .tooltip.show {
    display: block !important;
    width: 100%;
    max-width: 100%;
  }
  .tooltip-close {
    display: block;
  }
  .comma-seperation{
   display: none; 
  }
  .tooltip-heading p {
    font-size: 2rem;
    display: block;
  }
}
