.collection-hero__inner {
  display: flex;
  flex-direction: column;
}

.collection-hero--with-image .collection-hero__inner {
  margin-bottom: 0;
  padding-bottom: 2rem;
  width: 100%;
  max-width: 880px;
}

.collection-hero.collection-hero--with-image {
  position: relative;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 750px) {
  .collection-hero.collection-hero--with-image {
    padding: calc(4rem + var(--page-width-margin)) 0
      calc(4rem + var(--page-width-margin));
    overflow: hidden;
    min-height: 350px;
  }

  .collection-hero--with-image .collection-hero__inner {
    padding-bottom: 0;
  }
}

.collection-hero__text-wrapper {
  flex-basis: 100%;
  overflow: hidden;
}

@media screen and (min-width: 750px) {
  .collection-hero {
    padding: 0;
  }

  .collection-hero__inner {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
  }
}

.collection-hero__title {
  padding: 2.5rem 0;
  margin: 0;
  transition: transform 1s .5s;
  transform: translateY(100%);
}
.collection-hero__title.visible {
  transform: translateY(0);
}

.collection-hero__title + .collection-hero__description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .collection-hero__title + .collection-hero__description {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .collection-hero__description {
    max-width: 66.67%;
  }

  .collection-hero--with-image .collection-hero__description {
    max-width: 100%;
  }
}

.collection-hero--with-image .collection-hero__title {
  margin: 0;
  letter-spacing: -1px;
  text-transform: capitalize;
  font-size: 40px;
  line-height: 42px;
  padding-bottom: 8px;
}

.collection-hero--with-image .collection-hero__text-wrapper {
  padding: 0;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.collection-hero__image-container {
  border: var(--media-border-width) solid
    rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
}
.collection-hero__image-container img {
  object-fit: cover;
}
.collection-hero__image-container::after {
  content: "";
  background-color: rgba(25, 25, 25, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: " ";
  z-index: 1;
  display: block;
}

@media only screen and (min-width: 1300px) and (max-width: 1500px) {
  .collection-hero--with-image .collection-hero__title {
    font-size: 36px;
    line-height: 37.8px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .collection-hero--with-image .collection-hero__title {
    font-size: 34px;
    line-height: 35.7px;
  }
}
@media only screen and (max-width: 999px) and (min-width: 690px) {
  .collection-hero--with-image .collection-hero__title {
    font-size: 36.8px;
    line-height: 44px;
  }
  .collection-hero.collection-hero--with-image {
    min-height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .collection-hero--with-image .collection-hero__inner {
    max-width: 600px;
  }
}
@media only screen and (max-width: 690px) {
  .collection-hero--with-image .collection-hero__title {
    font-size: 36.8px;
    line-height: 44px;
  }
  .collection-hero.collection-hero--with-image {
    min-height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .collection-hero--with-image .collection-hero__inner {
    max-width: 320px;
  }
}

@media screen and (max-width: 749px) {
  .collection-hero__image-container {
    height: 20rem;
  }
}

@media screen and (min-width: 750px) {
  .collection-hero--with-image .collection-hero__text-wrapper {
    flex-basis: 100%;
  }

  .collection-hero__image-container {
    align-self: stretch;
    flex: 1 0 50%;
    margin-left: 0;
    min-height: 20rem;
  }
}
@media screen and (min-width: 750px) {
  .collection-hero--with-image .collection-hero__inner {
    max-width: 1100px;
  }
}
