.drawer-popup-container {
  position: relative;
}
.drawer.drawer-popup {
  position: absolute;
  z-index: 10000;
  top: 100%;
  width: 325px;
  max-width: 482px;
  height: 0;
  right: 0;
  left: auto;
  visibility: visible;
  opacity: 0;
  box-shadow: 0 6px 28px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.drawer.drawer-popup.active {
  opacity: 1;
  height: auto;
  overflow: visible;
}

.drawer.drawer-popup .drawer__inner {
  transform: translateX(0);
  height: auto;
  width: auto;
  max-width: 100%;
  padding: 0;
  overflow: auto;
}
.drawer.drawer-popup .cart-drawer .cart-items {
  display: table;

  opacity: 0;
  -webkit-transform: translate3d(0, 13px, 0);
  transform: translate3d(0, 13px, 0);
  transition: transform 0.65s cubic-bezier(0.2, 0.8, 0.25, 1),
    opacity 0.65s cubic-bezier(0.2, 0.8, 0.25, 1);
}
.drawer.drawer-popup .cart-drawer .drawer__cart-items-wrapper{
  overflow: hidden;
}

.drawer.drawer-popup.active .cart-drawer .cart-items {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.drawer.drawer-popup .cart-item__remove{
  vertical-align: top;
}

.drawer.drawer-popup .cart-drawer tr.cart-item {
  padding: 20px;
  display: block;
  position: relative;
}
.drawer.drawer-popup .cart-drawer tr.cart-item td {
  position: relative;
  padding: 0;
}
.drawer.drawer-popup .cart-drawer .cart-item:last-child {
  margin-bottom: 0;
}
.drawer.drawer-popup .cart-item__image {
  width: 75px;
  margin-right: 15px;
  min-width: 75px;
}
.drawer.drawer-popup cart-remove-button .button {
  font-size: 2rem;
  min-width: auto;
  min-height: auto;
}
.drawer.drawer-popup .cart-drawer .totals {
  justify-content: center;
  opacity: 0;
  transition: transform 0.65s cubic-bezier(0.2, 0.8, 0.25, 1),
    opacity 0.65s cubic-bezier(0.2, 0.8, 0.25, 1);
  -webkit-transition: transform 0.65s cubic-bezier(0.2, 0.8, 0.25, 1),
    opacity 0.65s cubic-bezier(0.2, 0.8, 0.25, 1);
  -webkit-transform: translate3d(0, 13px, 0);
  transform: translate3d(0, 13px, 0);
}
.drawer.drawer-popup.active .cart-drawer .totals {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.drawer.drawer-popup .cart-drawer__overlay {
  display: none;
}
.drawer.drawer-popup .totals__subtotal,
.drawer.drawer-popup .totals__subtotal-value {
  font-size: 1.4rem;
  letter-spacing: -1px;
  text-transform: uppercase;
  width: auto;
  margin: 0;
}
.drawer.drawer-popup .cart__ctas {
  padding-inline: 20px;
  opacity: 0;
  -webkit-transform: translate3d(0, 13px, 0);
  transform: translate3d(0, 13px, 0);
  transition: transform 0.65s cubic-bezier(0.2, 0.8, 0.25, 1),
    opacity 0.65s cubic-bezier(0.2, 0.8, 0.25, 1);
  -webkit-transition: transform 0.65s cubic-bezier(0.2, 0.8, 0.25, 1),
    opacity 0.65s cubic-bezier(0.2, 0.8, 0.25, 1);
}
.drawer.drawer-popup.active .cart__ctas {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.drawer.drawer-popup .cart-drawer .drawer__inner-empty {
  width: 325px;
  max-width: 482px;
  padding: 20px;
}
.drawer.drawer-popup .cart__empty-text {
  margin-bottom: 0;
  font-size: 12px;
}

.drawer.drawer-popup .cart-drawer .drawer__close,
.drawer.drawer-popup .cart-drawer .drawer__inner-empty .button {
  display: none;
}

.drawer.drawer-popup .cart__ctas .button {
  font-size: 12px;
  display: inline-block;
  padding: 10px 14px;
  width: calc(50% - 7px);
  min-width: calc(50% - 7px);
  margin: 0;
  height: auto;
  min-height: auto;
}
@media only screen and (min-width: 1px) and (max-width: 999px) {
  .drawer.drawer-popup {
    display: none;
  }
}
