.testimonial-section {
  --scroll-bar-w: 12px;
  position: relative;
  padding-top: calc(100vw * 0.03);
  padding-bottom: calc(100vw * 0.07);
  overflow: hidden;
}

.testimonial-section .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  background-color: rgba(63, 63, 63, 0.17);
  opacity: 0.3;
}
.testimonial-section .divider-wrap{
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  z-index: 3;
  transform: translateZ(0);
  margin-left: -50vw;
  margin-left: calc(-50vw + var(--scroll-bar-w)/ 2);
  left: 50%;
  width: 100vw;
  width: calc(100vw - var(--scroll-bar-w));
  height: 50px;
}
.shape-divider {
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 100%;
  position: absolute;
  fill: #fff;
}
.testimonial-section .testimonial-carousel {
  position: relative;
  z-index: 2;
  margin-top: 30px;
  margin-bottom: 30px;
}
.testimonial-section .testimonial-carousel .testimonial-carousel-fixed-content {
  padding-right: 65px;
  padding-left: 2.5rem;
}
.testimonial-section
  .testimonial-carousel
  .testimonial-carousel-fixed-content
  h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  letter-spacing: -2px;
}
.testimonial-section
  .testimonial-carousel
  .testimonial-carousel-fixed-content
  p {
  padding-bottom: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.testimonial-section
  .testimonial-carousel
  .testimonial-carousel-fixed-content
  a.testimonial-button {
  transition: opacity 0.45s cubic-bezier(0.25, 1, 0.33, 1);
  margin-top: 38px;
  margin-bottom: 10px;
  padding: 0 46px 0 39px;
  display: flex;
  justify-content: center;
  width: max-content;
}
.testimonial-section
  .testimonial-carousel
  .testimonial-carousel-fixed-content
  a.testimonial-button.has-icon
  span {
  left: 0;
  display: inline-block;
  transform: translateX(0);
  transition: opacity 0.45s cubic-bezier(0.25, 1, 0.33, 1),
    transform 0.45s cubic-bezier(0.25, 1, 0.33, 1);
  position: relative;
  transform: translateX(-18px);
}
.testimonial-section
  .testimonial-carousel
  .testimonial-carousel-fixed-content
  a
  svg {
  position: absolute;
  right: 20px;
}
.testimonial-section
  .testimonial-carousel
  .slider-section-outer
  .slider-section
  .mc__custom--slider
  .carousel-cell {
  width: 100%;
  height: auto;
  counter-increment: carousel-cell;
  margin-right: 30px;
  opacity: 0;
  display: flex;
}

.testimonial-section
  .testimonial-carousel
  .slider-section-outer
  .slider-section
  .mc__custom--slider.is-fullscreen
  .carousel-cell,
  .testimonial-section
  .testimonial-carousel
  .slider-section-outer
  .slider-section
  .mc__custom--slider.is-fullscreen
  .carousel-cell .carousel-cover {
  opacity: 1;
  min-height: 100%;
}

.testimonial-section
  .testimonial-carousel
  .slider-section-outer
  .slider-section
  .mc__custom--slider
  .carousel-cell
  .carousel-content {
  padding: 30px;
  box-sizing: border-box;
  display: inline-block;
  min-height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.testimonial-section
  .testimonial-carousel
  .slider-section-outer
  .slider-section
  .mc__custom--slider
  .carousel-cell
  .carousel-content
  .single_testimonial {
  letter-spacing: -1px;
  font-style: italic;
  margin: 0;
  padding-left: 0;
  border-left: 0;
}
.testimonial-section
  .testimonial-carousel
  .slider-section-outer
  .slider-section
  .mc__custom--slider
  .carousel-cell
  .carousel-content
  .single_testimonial
  .wrap {
  display: inline-block;
  vertical-align: middle;
}
.testimonial-section
  .testimonial-carousel
  .slider-section-outer
  .slider-section
  .mc__custom--slider
  .carousel-cell
  .carousel-content
  .single_testimonial
  span {
  display: block;
  font-weight: var(--font-body-weight-bold);
  line-height: 22px;
}
.testimonial-section
  .testimonial-carousel
  .slider-section-outer
  .slider-section
  .mc__custom--slider
  .carousel-cell
  .carousel-content
  .single_testimonial
  span.title {
  margin: 0;
  font-weight: normal;
  font-size: 1.4rem;
}
.testimonial-section
  .testimonial-carousel
  .slider-section-outer
  .slider-section
  .mc__custom--slider
  .carousel-cell
  .carousel-content
  .image-icon {
  width: 52px;
  height: 52px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.testimonial-section
  .testimonial-carousel
  .slider-section-outer
  .slider-section
  .mc__custom--slider
  .flickity-page-dots {
  text-align: left;
  bottom: -85px;
}

.flickity-page-dots {
  text-align: center;
}
  .flickity-page-dots
  .dot {
  display: inline-block;
  width: 10px;
  height: 20px;
  margin: 0 8px;
  opacity: 0.25;
  cursor: pointer;
  transition: all 0.1s ease;
  list-style: none;
  height: 30px;
  width: 30px;
  position: relative;
  margin: 0 5px;
  width: 30px;
  margin: 0;
  opacity: 0.35;
  background: transparent;
}
  .flickity-page-dots
  .dot.is-selected {
  opacity: 1;
}
  .flickity-page-dots
  .dot::before {
  content: "";
  background: #333;
  width: 100%;
  height: 4px;
  display: block;
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 6px;
  height: 6px;
  transition: all 0.25s ease;
  border-radius: 50%;
  margin-left: 11px;
  background-color: transparent;
  box-shadow: inset 0 0 0 5px #000;
  transition: all 0.1s linear;
}
  .flickity-page-dots
  .dot.is-selected::before {
  transform: scale(2);
  box-shadow: inset 0 0 0 1px #000;
  background-color: transparent;
}
.flickity-prev-next-button{
  display: none;
}

@media only screen and (max-width: 749px) {
  .testimonial-section
    .testimonial-carousel
    .testimonial-carousel-fixed-content {
    padding-left: 1.5rem;
  }
}

@media only screen and (min-width: 990px) {
  .testimonial-section .testimonial-carousel {
    flex-wrap: nowrap;
  }
  .testimonial-section
    .testimonial-carousel
    .testimonial-carousel-fixed-content {
    width: 33%;
    max-width: 33%;
  }
  .testimonial-section .testimonial-carousel .slider-section-outer {
    width: 100%;
    max-width: 100%;
  }
  .testimonial-section
    .testimonial-carousel
    .slider-section-outer
    .slider-section
    .mc__custom--slider
    .carousel-cell {
    width: 55%;
  }
}
