.multicolumn-v2 .multicolumn-list {
  column-gap: 0;
}
.multicolumn-v2 .multicolumn-list .multicolumn-list__item {
  padding: 0 2.5rem;
}
.multicolumn-v2 .multicolumn-card {
  min-height: 600px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
}
.multicolumn-v2 .multicolumn-card[data-animation="fade-in-from-bottom"] {
  opacity: 0;
  transform: translateY(75px);
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    box-shadow 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
.multicolumn-v2 a {
  text-decoration: none;
  overflow: hidden;
}
.multicolumn-v2 .multicolumn-card.visible {
  transform: translateY(0px) translateZ(0px);
  opacity: 1;
}

.multicolumn-v2 .multicolumn-card-spacing .media {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: transform 9s cubic-bezier(0.1, 0.2, 0.7, 1);
}

.multicolumn-v2 .multicolumn-card-spacing {
  margin: 0;
  padding: 0;
}

.multicolumn-v2 .multicolumn-card__info {
  position: relative;
  z-index: 2;
  align-self: end;
  color: rgb(var(--color-button-text));
  width: 100%;
}
.multicolumn-v2 .multicolumn-list h3 {
  color: rgb(var(--color-button-text));
  font-size: 34px;
  line-height: 44px;
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
.multicolumn-v2 .multicolumn-list .leaf__icon {
  margin-bottom: 20px;
  line-height: 25px;
}
.multicolumn-v2 .multicolumn-card__info .hover-content {
  opacity: 1;
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 10px;
  transition: opacity 0.18s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.18s cubic-bezier(0.05, 0.2, 0.1, 1);
  width: 80%;
  max-width: 25rem;
}
.multicolumn-v2 .multicolumn-card__info .hover-content p {
  font-size: 17px;
  line-height: 24px;
}
.multicolumn-v2
  .multicolumn-card.visible:hover
  .multicolumn-card-spacing
  .media {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.multicolumn-v2
  .multicolumn-card.visible:hover
  .multicolumn-card-spacing
  .media::before {
  opacity: 0;
}
.multicolumn-v2
  .multicolumn-card.visible:hover
  .multicolumn-card-spacing
  .media::after {
  opacity: 1;
}

@media only screen and (max-width: 749px) {
  .multicolumn-v2 .multicolumn-list .multicolumn-list__item {
    padding: 0 1.5rem;
  }
}

@media only screen and (min-width: 990px) {
  .multicolumn-v2 .multicolumn-card-spacing .media::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    width: 100%;
    height: 85%;
    display: block;
    z-index: 10;
    content: "";
    background: linear-gradient(
      to bottom,
      rgba(15, 15, 15, 0),
      rgba(15, 15, 15, 0.75) 100%
    );
    transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  }
  .multicolumn-v2 .multicolumn-card-spacing .media::after {
    content: "";
    opacity: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #cfbbdc 100%);
    background-color: transparent !important;
  }
  .multicolumn-v2 .multicolumn-card__info .hover-content {
    opacity: 0;
    position: absolute;
    transform: translateY(20px);
    transition: opacity 0.18s cubic-bezier(0.05, 0.2, 0.1, 1),
      transform 0.18s cubic-bezier(0.05, 0.2, 0.1, 1);
    padding: 0 2.5rem 2.5rem;
  }
  .multicolumn-v2 .multicolumn-card.visible:hover .multicolumn-card__info h3 {
    transform: translateY(-61px);
  }
  .multicolumn-v2 .multicolumn-card.visible:hover .hover-content {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) 0.15s,
      transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) 0.15s;
  }
}
