.sticky-bar-section{
    position: sticky;
    top: 0;
    height: auto;
    z-index: 3;
}
.sticky-bar .announcement-bar__link:hover{
    background-color: inherit;
    color: inherit;
}
.sticky-bar .page-width{
    padding: 0 1.2rem;
}