.multirow-carousel {
  width: 100%;
  --ssfont-scale: 1;
  font-size: calc(100% * var(--ssfont-scale));
}
.multirow-carousel .carousel-cell {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multirow-carousel.is-fullscreen .carousel-cell {
  min-height: 100%;
}
.multirow-carousel.is-fullscreen .carousel-cell .image-with-text__grid {
  width: 100%;
}
.multirow-carousel.is-fullscreen .carousel-cell .image-with-text__content,
.multirow-carousel.is-fullscreen .carousel-cell .image-with-text__grid{
  padding: 0;
}
.multirow-carousel .flickity-prev-next-button {
  background-color: transparent;
}
.multirow-carousel .flickity-prev-next-button.previous {
  left: -5rem;
}
.multirow-carousel .flickity-prev-next-button.next {
  right: -5rem;
}
/* flickity-fade */

.flickity-enabled.is-fade .flickity-slider > * {
  pointer-events: none;
  z-index: 0;
}

.flickity-enabled.is-fade .flickity-slider > .is-selected {
  pointer-events: auto;
  z-index: 1;
}
@media only screen and (max-width: 990px) {
  .multirow-carousel .flickity-prev-next-button {
    display: none;
  }
}
@media (orientation: landscape) and (max-width: 900px),
  (orientation: portrait) and (max-width: 700px) {
  .multirow-carousel {
    --ssfont-scale: 0.3;
  }
}
