.blog-placeholder {
  margin: 0 1.5rem;
  background: rgb(var(--color-background));
}

@media screen and (min-width: 750px) {
  .blog-placeholder {
    text-align: center;
    width: 50%;
    margin: 0;
  }
}

.blog-placeholder__content {
  padding: 3rem;
  background: rgba(var(--color-foreground), 0.04);
}

.blog-placeholder .placeholder {
  position: relative;
}

.blog-placeholder h2 {
  margin: 0;
}

.blog-placeholder .rte-width {
  margin-top: 1.2rem;
  color: rgba(var(--color-foreground), 0.75);
}

@media screen and (min-width: 990px) {
  .grid--1-col-desktop .article-card .card__content {
    text-align: center;
  }
}

.blog__title {
  margin: 0;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -1px;
}


.blog__subtitle{
  margin: 0;
  font-size: 14px;
  line-height: 15px;
}
.blog__posts.articles-wrapper {
  margin-bottom: 1rem;
  column-gap: 0;
}

@media screen and (min-width: 990px) {
  .blog__posts.articles-wrapper {
    margin-bottom: 0;
  }
}

.blog__posts.articles-wrapper .article {
  scroll-snap-align: start;
  padding: 0 2.5rem;
  border-radius: 10px;
}

@media screen and (max-width: 749px) {
  .blog__post.article {
    width: calc(100% - 3rem - var(--grid-mobile-horizontal-spacing));
  }
  .blog__posts.articles-wrapper .article {
    scroll-snap-align: start;
    padding: 0 1.5rem;
  }
}

.background-secondary .blog-placeholder__content {
  background-color: rgb(var(--color-background));
}

.blog__posts .card-wrapper {
  width: 100%;
}

.blog__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .blog__button {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 690px) {
  .blog__title {
    font-size: 28.9px;
    line-height: 34px;
  }
}
@media only screen and (max-width: 999px) and (min-width: 690px) {
  .blog__title {
    font-size: 28.9px;
    line-height: 34px;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 1000px) {
  .blog__title {
    font-size: 23.8px;
    line-height: 28px;
  }
}


/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .blog__posts .article + .article {
      margin-left: var(--grid-desktop-horizontal-spacing);
    }
  }
}

