.special {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.image-with-text .grid {
  margin-bottom: 0;
}

.image-with-text .grid__item {
  position: relative;
}
.special .image-with-text__media-item .image-with-text__media-wrapper {
position: relative;
overflow: visible;
}
@media screen and (min-width: 750px) {
  .image-with-text__grid--reverse {
    flex-direction: row-reverse;
  }
}

.image-with-text__media {
  min-height: 100%;
  overflow: visible;
}

.image-with-text__media--small {
  height: 19.4rem;
}

.image-with-text__media--medium {
  height: 29.6rem;
}

.image-with-text__media--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__media--small {
    height: 31.4rem;
  }

  .image-with-text__media--medium {
    height: 46rem;
  }

  .image-with-text__media--large {
    height: 69.5rem;
  }
}

.image-with-text__media--placeholder {
  position: relative;
  overflow: hidden;
}

.image-with-text__media--placeholder:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(var(--color-foreground), 0.04);
}

.image-with-text__media--placeholder.image-with-text__media--adapt {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__media--placeholder.image-with-text__media--adapt {
    height: 30rem;
  }
}

.image-with-text__media--placeholder > svg {
  position: absolute;
  left: 50%;
  max-width: 80rem;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  fill: currentColor;
}

.image-with-text__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-self: center;
  padding: 0;
  position: relative;
  z-index: 1;
}

.image-with-text .grid__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.image-with-text:not(.image-with-text--overlap)
  .image-with-text__media-item:after {
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.image-with-text:not(.image-with-text--overlap)
  .image-with-text__text-item:after {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.image-with-text .image-with-text__media-item > * {
  border-radius: var(--media-radius);
  overflow: hidden;
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.special .image-with-text .global-media-settings {
  overflow: hidden !important;
}
.special .global-media-settings {
  background-color: transparent;
}
.special .global-media-settings::after {
  opacity: 0;
}

.image-with-text .image-with-text__text-item > * {
  border-radius: var(--text-boxes-radius);
  overflow: hidden;
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.image-with-text:not(.image-with-text--overlap)
  .image-with-text__media-item
  > *,
.image-with-text:not(.image-with-text--overlap)
  .image-with-text__text-item
  > * {
  box-shadow: none;
}

@media screen and (max-width: 749px) {
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .image-with-text__media-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .grid__item
    .image-with-text__media,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .image-with-text__media
    img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .image-with-text__text-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .grid__item
    .image-with-text__content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .image-with-text.collapse-borders:not(.image-with-text--overlap)
    .image-with-text__content {
    border-top: 0;
  }
}

.image-with-text__content--mobile-right > * {
  align-self: flex-end;
  text-align: right;
}

.image-with-text__content--mobile-center > * {
  align-self: center;
  text-align: center;
}

.image-with-text--overlap .image-with-text__content {
  width: 90%;
  margin: -3rem auto 0;
}

@media screen and (min-width: 750px) {
  .image-with-text__grid--reverse .image-with-text__content {
    margin-left: auto;
  }

  .image-with-text__content--bottom {
    justify-content: flex-end;
    align-self: flex-end;
  }

  .image-with-text__content--top {
    justify-content: flex-start;
    align-self: flex-start;
  }

  .image-with-text__content--desktop-right > * {
    align-self: flex-end;
    text-align: right;
  }

  .image-with-text__content--desktop-left > * {
    align-self: flex-start;
    text-align: left;
  }

  .image-with-text__content--desktop-center > * {
    align-self: center;
    text-align: center;
  }

  .image-with-text--overlap .image-with-text__text-item {
    display: flex;
    padding: 3rem 0;
  }

  .image-with-text--overlap .image-with-text__content {
    height: auto;
    width: calc(100% + 4rem);
    min-width: calc(100% + 4rem);
    margin-top: 0;
    margin-left: -4rem;
  }

  .image-with-text--overlap
    .image-with-text__grid--reverse
    .image-with-text__content {
    margin-left: 0;
    margin-right: -4rem;
  }

  .image-with-text--overlap
    .image-with-text__grid--reverse
    .image-with-text__text-item {
    justify-content: flex-end;
  }

  .image-with-text--overlap .image-with-text__media-item--top {
    align-self: flex-start;
  }

  .image-with-text--overlap .image-with-text__media-item--middle {
    align-self: center;
  }

  .image-with-text--overlap .image-with-text__media-item--bottom {
    align-self: flex-end;
  }

  .image-with-text__media-item--small,
  .image-with-text__media-item--large + .image-with-text__text-item {
    flex-grow: 0;
  }

  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__media-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__media,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__media
    img,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .image-with-text__grid--reverse
    .image-with-text__text-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .image-with-text__grid--reverse
    .image-with-text__content,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .image-with-text__grid--reverse
    .image-with-text__content:after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__text-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__content,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__content:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .image-with-text__grid--reverse
    .image-with-text__media-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .image-with-text__grid--reverse
    .image-with-text__media,
  .image-with-text.collapse-corners:not(.image-with-text--overlap)
    .image-with-text__grid--reverse
    .image-with-text__media
    img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .image-with-text.collapse-borders:not(.image-with-text--overlap)
    .grid:not(.image-with-text__grid--reverse)
    .image-with-text__content {
    border-left: 0;
  }

  .image-with-text.collapse-borders:not(.image-with-text--overlap)
    .image-with-text__grid--reverse
    .image-with-text__content {
    border-right: 0;
  }
}

.image-with-text:not(.collapse-corners, .image-with-text--overlap)
  .image-with-text__media-item {
  z-index: 2;
}

.image-with-text__content {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
  word-break: break-word;
}

@media screen and (min-width: 1128px) {
  .special .image-with-text__media-item .image-with-text__media-wrapper {
    width: 65%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 990px) {
  .image-with-text__content {
    padding: 0;
  }
}

.image-with-text__content > * + * {
  margin-top: 2rem;
}

.image-with-text__content > .image-with-text__text:empty ~ a {
  margin-top: 2rem;
}

.image-with-text__content > :first-child:is(.image-with-text__heading),
.image-with-text__text--caption + .image-with-text__heading,
.image-with-text__text--caption:first-child {
  margin-top: 0;
}

.image-with-text__content :last-child:is(.image-with-text__heading),
.image-with-text__text--caption {
  margin-bottom: 0;
}

.image-with-text__content .button + .image-with-text__text {
  margin-top: 2rem;
}

.image-with-text__content .image-with-text__text + .button {
  margin-top: 3rem;
}

.image-with-text__heading {
  margin-bottom: 0;
}

.image-with-text__text p {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media screen and (max-width: 749px) {
  .collapse-padding .image-with-text__grid .image-with-text__content {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collapse-padding
    .image-with-text__grid:not(.image-with-text__grid--reverse)
    .image-with-text__content:not(.image-with-text__content--desktop-center) {
    padding-right: 0;
  }

  .collapse-padding
    .image-with-text__grid--reverse
    .image-with-text__content:not(.image-with-text__content--desktop-center) {
    padding-left: 0;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .image-with-text .grid {
    margin-left: 0;
  }
}

/*
    Multirow
    note: consider removing from this stylesheet if multirow-specific styles increase signficantly
  */
.multirow__inner {
  display: flex;
  flex-direction: column;
  row-gap: var(--grid-mobile-vertical-spacing);
}

@media screen and (min-width: 750px) {
  .multirow__inner {
    row-gap: var(--grid-desktop-vertical-spacing);
  }
}
.special .image-with-text__heading {
  letter-spacing: -1px;
}
@media only screen and (max-width: 999px) and (min-width: 690px) {
  .special .image-with-text__heading {
    font-size: 28.9px !important;
    line-height: 34px !important;
  }
}
@media only screen and (max-width: 690px) {
  .special .image-with-text__heading {
    font-size: 28.9px !important;
    line-height: 34px !important;
  }
}
.hotspot_wrap {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 1000;
}
.hotspot-wrap_container > .hotspot_wrap:nth-child(1) {
  top: 18.4031%;
  left: 34.6709%;
}
.hotspot-wrap_container > .hotspot_wrap:nth-child(2) {
  top: 35.1775%;
  left: 18.4987%;
}
.hotspot-wrap_container > .hotspot_wrap:nth-child(3) {
  top: 77.2538%;
  left: 10.1451%;
}
.hotspot-wrap_container > .hotspot_wrap:nth-child(4) {
  top: 86.9779%;
  left: 48.2409%;
}
.hotspot-wrap_container > .hotspot_wrap:nth-child(5) {
  top: 72.6669%;
  left: 73.4112%;
}
.hotspot-wrap_container > .hotspot_wrap:nth-child(6) {
  top: 36.5033%;
  left: 81.4527%;
}
.hotspot_wrap .hotspot {
  position: relative;
  z-index: 1000;
  background-color: #cc8037;
  border-radius: 100px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  display: block;
  height: 22px;
  width: 22px;
  line-height: 22px;
  font-size: 11px;
}
.hotspot_wrap .hotspot::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 22px;
  height: 22px;
  margin: -11px auto auto -11px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border-radius: 50%;
  background-color: inherit;
  opacity: 1;
  z-index: -1;
  pointer-events: none;
  -webkit-animation: pulsate 3s cubic-bezier(0.2, 1, 0.2, 1) infinite;
  animation: pulsate 3s cubic-bezier(0.2, 1, 0.2, 1) infinite;
}
.hotspot_wrap .hotspot span {
  display: block;
  pointer-events: none;
  width: 22px;
  height: 22px;
  transition: transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
}
.hotspot_wrap .hotspot span::before {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 10px;
  left: 6px;
  top: 10px;
  content: " ";
  background-color: #fff;
  transition: background-color 0.2s ease-in-out;
  z-index: 3;
}
.hotspot_wrap .hotspot span::after {
  content: "";
  position: absolute;
  display: block;
  height: 10px;
  width: 2px;
  left: 10px;
  top: 6px;
  content: " ";
  background-color: #fff;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.hotspot_wrap .hotspot.open span {
  transform: none;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #3e1e56;
}
.hotspot_wrap .hotspot.open span::before {
  background-color: #3e1e56;
}

.hotspot_wrap .hotspot.open span::after {
  opacity: 0;
  visibility: hidden;
}
.hotspot_wrap .tooltip {
  position: relative;
  display: block;
  opacity: 0;
  z-index: 900;
  cursor: default;
  background-color: #fff;
  padding: 23px;
  max-width: 250px;
  line-height: 22px;
  font-size: 14px;
  color: #666;
  border-radius: 10px;
  pointer-events: none;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  margin-top: 6px;
  -ms-transform: translateX(-100%) translateY(-50%);
  transform: translateX(-100%) translateY(-50%);
  -webkit-transform: translateX(-100%) translateY(-50%);
}

.hotspot_wrap .tooltip.open {
  opacity: 1;
  pointer-events: auto;
  cursor: auto;
}
.hotspot_wrap .tooltip .tipclose {
  position: absolute;
  top: 6rem;
  left: 50%;
  margin-left: -11px;
  height: 22px;
  width: 22px;
  line-height: 22px;
  border: 2px solid #000;
  border-radius: 100px;
  border-color: #cc8037;
  display: none;
}
.hotspot_wrap .tooltip .tipclose span {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  display: block;
  height: 18px;
  width: 18px;
  transform-origin: center;
}
.hotspot_wrap .tooltip .tipclose span::before {
  position: absolute;
  display: block;
  height: 2px;
  width: 10px;
  left: 4px;
  top: 8px;
  background-color: #cc8037;
  content: " ";
}
.hotspot_wrap .tooltip .tipclose span::after {
  position: absolute;
  display: block;
  height: 10px;
  width: 2px;
  left: 8px;
  top: 4px;
  background-color: #cc8037;
  content: " ";
}
@-webkit-keyframes pulsate {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(3);
  }
}

@keyframes pulsate {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(3);
  }
}
@media only screen and (min-width: 1024px) {
  .hotspot_wrap .tooltip {
    background: none;
  }
}
@media only screen and (min-width: 1024px) {
  .hotspot_wrap .tooltip {
    position: absolute;
    transform: none;
    right: 10px;
    left: auto;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
  }
  .hotspot-wrap_container > .hotspot_wrap:nth-child(1) .tooltip {
    top: -170px;
  }
  .hotspot-wrap_container > .hotspot_wrap:nth-child(2) .tooltip {
    top: -210px;
  }
  .hotspot-wrap_container > .hotspot_wrap:nth-child(3) .tooltip {
    bottom: -20px;
  }
  .hotspot-wrap_container > .hotspot_wrap:nth-child(4) .tooltip {
    bottom: -140px;
    transform: none;
    left: 50%;
    display: block;
  }
  .hotspot-wrap_container > .hotspot_wrap:nth-child(5) .tooltip {
    top: auto;
    bottom: -70px;
    transform: none;
    left: 50%;
    display: block;
  }
  .hotspot-wrap_container > .hotspot_wrap:nth-child(6) .tooltip {
    display: block;
    top: -90px;
    transform: none;
    left: 100%;
  }
}
@media only screen and (min-width: 690px) {
  .hotspot_wrap .hotspot span {
    height: 30px;
    width: 30px;
  }
  .hotspot_wrap .hotspot {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 14px;
    pointer-events: all;
  }
  .hotspot_wrap .hotspot span::before {
    height: 2px;
    width: 12px;
    left: 9px;
    top: 14px;
  }
  .hotspot_wrap .hotspot span::after {
    height: 12px;
    width: 2px;
    left: 14px;
    top: 9px;
  }
}
@media (min-width: 691px) and (max-width: 1130px) {
  .hotspot_wrap .tooltip {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    max-width: none;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
    transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    z-index: 999;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hotspot_wrap .tooltip img {
    max-width: 100%;
  }
  .hotspot_wrap .tooltip .tipclose {
    display: block;
  }
}
@media only screen and (max-width: 690px) {
  .hotspot_wrap .tooltip {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-width: none;
    margin: 0;
    height: 100%;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
    transform: none;
    -webkit-transform: none;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hotspot_wrap .tooltip img {
    max-width: 100%;
  }
  .hotspot_wrap .tooltip .tipclose {
    display: block;
  }
}
